.frm-logo {
    text-align: center;
    font-size: 28px;
    color: var(--color-app-blue-ocean-80);
    font-weight: 400;
    display: inline-block;
    margin-left: 5px;
}

.borderdiv {
    border: 1px solid var(--color-app-blue-ocean-80);
    border-radius: 15px;
    padding-bottom: 10px;
    margin-top: 4%;
}

.button {
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    text-align: left;
    width: 51%;
    height: 56px;
    font-size: 16px;
    margin: auto;
    font-weight: 500;
    margin-top: 8px;
}

.image-container {
    flex: 1;
    text-align: right;
}

.image-container img {
    height: 40px;
    margin-top: -8px;
}
