@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    font-family: 'Poppins', sans-serif;
}

.icon {
    cursor: pointer;
}

.nav-header {
    background: var(--color-surface);
}

.welcome-title {
    margin-bottom: 0;
    color: var(--color-app-blue-ocean-80);
}

.no-chart-message {
    border: 1px solid var(--color-app-light-gray);
    width: 75%;
}

.neutral-pill {
    background-color: var(--color-app-light-gray);
    width: 100%;
}

.selection-note {
    color: var(--color-app-deep-blue);
}

.form-control {
    height: 35px;
}

.closebtn {
    background-color: var(--color-app-red);
    border: navajowhite;
    border-radius: 6px;
    color: #fff;
    height: 35px;
    margin-left: 10px;
}

.fa-search {
    color: var(--color-app-gray);
    font-size: 25px;
    padding: 5px;
}

.first-box {
    padding: 20px;
}

.page-content {
    min-height: 60vh;
}

.box {
    height: 7px;
    margin-top: 8px;
    width: 7px;
}

.default-tab .e-content .e-item {
    padding: 10px;
    text-align: justify;
}

.bootstrap5 .default-tab .e-content > .e-item.e-active {
    background: var(--color-app-light-gray);
}

.bootstrap5-dark .default-tab .e-content > .e-item.e-active {
    background: #201F1E;
}

.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text {
    color: white !important;
    font-size: 18px;
}

.e-tab .e-tab-header .e-toolbar-item .e-tab-text {
    font-size: 1rem;
}

.e-tab .e-tab-header:not(.e-vertical)::before {
    border-width: 0 1px 0 1px;
}


.e-tab .e-tab-header .e-toolbar-item.e-active {
    background: var(--color-app-blue-ocean-80);
    display: none;
}

    .e-tab .e-tab-header .e-toolbar-item.e-active:hover {
        background: var(--color-app-blue-ocean-80);
    }

.e-tab .e-content .e-item {
    border: 1px solid var(--color-app-light-gray);
    font-size: 1rem;
}

.selected-option {
    background-color: var(--color-app-sky-blue);
    color: white;
}

.e-dialog .e-dlg-content {
    color: var(--color-app-red);
}

.e-btn.e-danger {
    background: var(--color-app-red);
    border-color: var(--color-app-red);
    margin-left: 4%;
}

.custom-chart-title {
    text-align: center;
    margin-top: 0px;
}

.childHide {
    display: none;
}

.boxCard {
    background: var(--color-surface);
    border: none;
    border-radius: 15px;
}

.inputSrchBTN {
    border: 0;
    position: absolute;
    right: 7px;
    top: 4px;
}

.cardSearch input {
    border-radius: 50px;
    padding: 18px 14px;
}

.cardSearch input {
    border-radius: 50px !important;
    padding: 20px 14px;
    border: 1px solid var(--color-app-blue-ocean-80);
    background: var(--color-app-light-blue);
}

.inputSrchBTN .fa-search {
    color: #f7f7f7;
    font-size: 16px;
    background: var(--color-app-blue-ocean-80);
    padding: 0;
    border-radius: 50px;
    z-index: 9;
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minHeight-card {
    min-height: 140px;
}

.fw-5 {
    font-weight: bold;
}

.srchDropWidth .e-multiselect.e-input-group, .srchDropWidth .e-input-group.e-control-container {
    width: 85% !important;
}

.srchDropWidth .fa-search {
    color: var(--color-app-gray);
    font-size: 20px;
    padding: 2px;
}

.chartStat {
    text-align: start;
}

.piBox-height {
    min-height: 40px;
}

.stats-before-green {
    display: flex;
    flex-direction: column;
}

    .stats-before-green:before {
        content: '';
        position: absolute;
        width: 6%;
        height: 10%;
        left: -6px;
        top: 8px;
        border-radius: 50%;
        background-color: var(--color-app-green);
        box-shadow: 0 0 10px var(--color-app-green);
    }

.stats-before-red {
    display: flex;
    flex-direction: column;
}

    .stats-before-red:before {
        content: '';
        position: absolute;
        width: 6%;
        height: 10%;
        left: -6px;
        top: 8px;
        border-radius: 50%;
        background-color: var(--color-app-red);
        box-shadow: 0 0 10px var(--color-app-red);
    }

.stats-before-yellow {
    display: flex;
    flex-direction: column;
}

    .stats-before-yellow:before {
        content: '';
        position: absolute;
        width: 6%;
        height: 10%;
        left: -6px;
        top: 8px;
        border-radius: 50%;
        background-color: var(--color-app-yellow);
        box-shadow: 0 0 10px var(--color-app-yellow);
    }

.stats-before-orange {
    display: flex;
    flex-direction: column;
}

    .stats-before-orange:before {
        content: '';
        position: absolute;
        width: 6%;
        height: 10%;
        left: -6px;
        top: 8px;
        border-radius: 50%;
        background-color: var(--color-app-orange);
        box-shadow: 0 0 10px var(--color-app-orange);
    }

.flex70 {
    flex: 0 0 73%;
}

.e-control.e-toolbar.e-lib.e-tab-header.e-keyboard:before {
    content: none !important;
}

.e-control.e-toolbar.e-lib.e-tab-header.e-keyboard {
    display: none;
}

.demoGraph {
    background: #fff;
    font-size: 14px;
    border-radius: 12px;
}

.cstDateRange {
    display: flex;
}

.dateMockup span:nth-child(1) {
    color: #fff;
    background: var(--color-app-deep-blue);
    padding: 11px;
    font-size: 13px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 1px solid #ccc;
}

.dateMockup span:nth-child(2) {
    color: #fff;
    background: var(--color-app-deep-blue);
    padding: 11px;
    font-size: 13px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

.schoolTeacher label {
    font-size: 12px;
    margin-bottom: 2px;
    color: #000;
}

.schoolTeacher span.e-input-group:active {
    box-shadow: none !important;
}

.schoolTeacher input.e-control:active {
    box-shadow: none !important;
}

.graphCard .e-tab .e-content .e-item {
    font-size: 1rem;
    border: none;
}

.boxCard.graphCard {
    border-radius: 20px;
}

.position-relative .e-checkbox-wrapper .e-frame {
    margin-top: 20px;
}

.piBox-height p {
    margin-bottom: 4px;
}

.minH-45 {
    min-height: 45px;
}

.asideToggler {
    position: relative;
    text-align: end;
}

    .asideToggler span {
        padding: 6px 11px;
        background: #5667a7;
        border-radius: 50px;
        width: 38px;
        height: 35px;
        color: #f9f9f9;
        cursor: pointer;
        font-size: 19px;
    }

.sidebar {
    transition: width 0.2s ease-in-out;
}

    .sidebar.collapseAside {
        width: 50px;
        overflow: hidden;
        transition: width 0.2s ease-in-out;
    }

        .sidebar.collapseAside ul li .nav-link {
            gap: 12px;
        }

img.forSmall {
    display: none;
    width: auto;
    transition: width 2s ease-in-out;
}

.sidebar.collapseAside img.forSmall {
    display: block;
    width: auto;
    transition: width 2s ease-in-out;
}

.sidebar.collapseAside img.forLarge {
    width: 0px;
    transition: width 0.5s ease-in-out;
}

.img-fluid.forLarge {
    width: 75%;
    transition: width 0.1s ease-in-out;
}

.collapseAside .navbar-dark {
    background: #5667a7 !important;
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 768px) {
    div.cst-modal {
        width: 90%;
    }
}
